

.nav-bar{
    
    position:fixed;
    width:100%;
    top: 0px;
}

.sign-out{
    margin: 5px 5px;
}

.menu{
    margin: 5px 5px;
    width: 30px;
    height: 30px;
}

.flex{
    display: flex;
}

.drop-btn{
    background: rgba(76, 175, 80, 0.0);
    border:0;
}

.back{
    filter: invert(77%) sepia(35%) saturate(942%) hue-rotate(192deg) brightness(98%) contrast(116%);
}

