.spacer{
    height:70px;
}

.spacer2{
    height: 300px;
}

.screen{
    height:100vh;
    
}

.set-box{
    width: 80%;
    height: 100%;
    margin: auto;
}


.chat-box h1,h2{
    color: black;
}

.opt-set{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 800;
}

.settings-box{
    margin: 40px 30px;
}

.title-set{
    font-weight: bold;
    font-size: 32px;
}